<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flashcards</title>
</head>
<body>
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        {% if error %}
            <p class="error"><strong>Error:</strong>{{ error }}</p>
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>